/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #0cba82;
  --matr-navbar-bg-rgb: 173, 216, 230;
  --matr-navbar-text-color: black;
  --matr-navbar-highlight-text: teal;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-dark: var(--matr-navbar-bg);
  --bs-light-rgb: var(--matr-navbar-bg-rgb);

}
body .navbar {
  --bs-navbar-active-color: var(--matr-navbar-highlight-text);
  --bs-navbar-brand-color: var(--matr-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--matr-navbar-highlight-text);
  --bs-navbar-color: var(--matr-navbar-text-color);
  --bs-navbar-hover-color: var(--matr-navbar-highlight-text);
}

/* Set the SignIn and SignUp alerts background. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--bs-gray-200);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

@media screen and (max-width: 830px) {
  .profile-card {
    flex-direction: column-reverse;
  }
}

.logoFont {
  font-family: 'Abril Fatface', serif;
  font-weight: normal;
  font-style: normal;
  color: #004958;
  padding-left: 20px;
}

.upcoming-events-header {
  color: white; /* Change this to white or another light color for better readability */
}

.custom-card {
  min-height: 500px; /* Adjust this based on your content needs */
}

.custom-btn {
  background-color: teal; /* Or any specific teal shade you prefer */
  border-color: teal; /* To ensure the border matches the background */
}

/* If using a light shade of teal, you may want to ensure text is readable */
.custom-btn:hover {
  background-color: #008080; /* Darker teal for hover effect */
  border-color: #008080; /* Consistent with hover background */
  color: white; /* Keep text color white for readability */
}
/* Apply teal styles to all buttons */
button, .btn {
  background-color: teal; /* Set the button background to teal */
  color: white; /* Set the text color to white for contrast */
  border: 1px solid teal; /* Set the border color to match the background */
}

/* Adjust hover styles for all buttons */
button:hover, .btn:hover {
  background-color: #008080; /* Darker shade of teal for hover state */
  border-color: #008080; /* Darker shade for border on hover */
}

.expand-card {
  transition-property: transform;
  transition-duration: 0.5s;
}
.expand-card:hover {
  transform: scale(1.1);
  animation: ease-in-out;
}

.teal-link {
  color: teal;
}

.teal-badge {
  background-color: teal;
  color: white; /* Ensures text is readable on teal background */
}